*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Open Sans', sans-serif;
}

/* COMMON */

.flex-container{
    display: flex;
}

img{
    width: 100%;
}

ul{
    list-style-type: none;
}

nav ul li{
    margin-left: 20px;
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* HEADER */

.header-container{
    width: 100%;
    margin: 0 auto;
}

.fixed-nav{
    position: fixed;
    width: 100%;
    background-color: white;
}

/* LOGO */

.logo{
    width: 10%;
    padding: 25px 0;
}

.image-size{
    width: 125px;
    margin-left: 10px;
    margin-right: 10px;
}

/* NAV */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

/* HEADER BUTTON */

.start-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.header-btn{
    background-color: #0061ff;
    color: white;
    padding: 5px 20px;
    text-decoration: none;
}

/* JUMBOTRON */

.jumbotron-background{
    background-color: #b4d0e7;
    height: 950px;
}

.jumbotron-container{
    width: 85%;
    margin: 0 auto;
}

.jumbotron-title{
    padding-top: 190px;
    font-size: 90px;
}

.jumbotron-text{
    width: 30%;
    padding-top: 45px;
}

.jumbotron-subtitle{
    font-weight: bold;
}

/* JUMBOTRON BUTTON */

.jumbotron-button{
    margin-top: 40px;
}

.jumbotron-btn{
    background-color: #0061ff;
    color: white;
    padding: 5px 20px;
    text-decoration: none;
}

.button-subtitle{
    padding-top: 20px;
    font-weight: bold;
    font-size: 13px;
}

.jumbotron-arrow{
    padding-top: 60px;
}
/* JUMBOTRON IMAGE */

.jumbotron-image{
    width: 70%;
    padding-top: 45px;
    padding-left: 60px;
}

.jumbotron-img{
    width: 90%;
}

/* MAIN */

.main-container{
    width: 70%;
    margin: 0 auto;
}

.main-subtitle{
    font-size: 45px;
    padding-top: 180px;
}

/* SUBSCRIPTION BUTTONS */

.main-subscription{
    padding-top: 50px;
}

.radio-button{
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 50%;
    border: 5px solid #0061ff;
    font-size: 0px;
    vertical-align: middle;
    color: white;
}

.empty{
    border: 1px solid grey;
    margin-left: 10px;
}

/* SUBSCRIPTION PLANS */

.col-adjustment{
    display: flex;
    justify-content: space-between;
    height: 1000px;
}

.col{
    width: calc(90% / 3);
    margin-top: 40px;
    border: 1px solid grey;
}

.sub-container{
    width: 85%;
    margin: 0 auto;
}

/* SUBSCRIPTION PLANS HEADER */

.sub-header{
    line-height: 50px;
    text-align: center;
    display: block;
    border-bottom: 1px solid grey;
}

/* SUBSCRIPTION PLANS MAIN */

.sub-title{
    margin-top: 30px;
    font-size: 20px;
}

.sub-price{
    font-weight: bold;
    margin-top: 15px;
}

.sub-length{
    color: grey;
    font-weight: 300;
    margin-top: 10px;
}

/* SUB ADVANTAGES */

.sub-advantages li{
    padding-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

/* SUB BUTTON */

.sub-button{
    margin-top: 40px;
    text-align: center;
}

.sub-btn{
    background-color: #0061ff;
    color: white;
    padding: 5px 75px;
    text-decoration: none;
}

/* SUB BUY */

.sub-buy{
    padding-top: 30px;
}

/* DIVIDER */

.sub-divider{
    width: 55px;
    margin-top: 30px;
}

/* SUB POINTS */

.sub-points{
    padding-top: 30px;
}

/* SUB LIST */

.sub-list li{
    padding-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

.check{
    color: #0061ff;
}

/* SALES OFFICE */

.sales-col{
    width: 100%;
    margin-top: 40px;
    border: 1px solid grey;
}

.sales-container{
    width: 70%;
    margin: 0 auto;
}

.sales-header{
    line-height: 50px;
    text-align: center;
    display: block;
    border-bottom: 1px solid grey;
}

.sales-adjustment{
    display: flex;
    justify-content: space-around;

}
/* SALES TITLE */
.sales-title{
    margin-top: 30px;
    font-size: 20px;
}

.sales-points{
    padding-top: 30px;
}

.sales-text{
    padding-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 40px;
}

/* SALES BUTTON */

.sales-button{
    width: 25%;
    margin-top: 40px;
    text-align: center;
}

.sales-btn{
    background-color: #0061ff;
    color: white;
    padding: 5px 50px;
    text-decoration: none;
}

/* FIND PARTNER */

.partner-container{
    display: flex;
    margin-top: 120px;
    justify-content: space-between;
}

.partner-image{
    width: 50%;
}

.partner-text{
    width: 45%;

}

.partner-title{
    font-size: 30px;
    padding-top: 40px;
}

.partner-subtitle{
    padding-top: 20px;
}

/* PARTNER BUTTON */
.partner-button{
    margin-top: 40px;
    text-align: left;
}

.partner-btn{
    color: black;
    padding: 5px 20px;
    border: 1px solid black;
    text-decoration: none;
}

/* BUSINESS SECTION */

.business-adjustments{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.business-col{
    width: 30%;
    margin-top: 40px;
}

.business-title{
    font-size: 30px;
}

.business-text{
    padding-top: 20px;
}

.customers{
    margin-top: 40px;
}

/* COLLAB SECTION */

.collab-spacings{
    padding-top: 40px;
}

.collab-background{
    background-color: #b4d0e7;
}

/* COLLAB COLS AND BOXES */

.collab-flex-container{
    display: flex;

}

.text-col{
    width: calc(100% / 3);
    height: 500px;
    background-color: #f5f5f5;
}

.collab-col{
    width: calc(100% / 3);
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.collab-box{
    width: 50%;
    height: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collab-box img{
    width: 50%;
    filter: invert(1);
}

/* CENTRAL BOX */

.col-container{
    width: 85%;
    margin: 0 auto;
}

.text-col img{
    width: 25%;
}

.col-logo{
    padding-top: 60px;
}

.col-container hr{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 50px;
}

.cit{
    padding-top: 30px;
}

/* COLORS */

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.pink{
    background-color: pink;
}

.purple{
    background-color: purple;
}

.light-blue{
    background-color: lightblue;
}

/* TRIAL SECTION */

.trial-background{
    background-color: #b4d0e7;
}

.trial-container{
    width: 70%;
    margin: 0 auto;
}

.trial-adjustment{
    display: flex;
    justify-content: space-around;
    padding: 80px 0;
}

.trial-title{
    margin-top: 30px;
    font-size: 20px;
}

.trial-subtitle{
    font-size: 45px;
    padding-top: 60px;
    color: #61082b;
}


/* TRIAL BUTTON */

.trial-button{
    width: 25%;
    padding-top: 100px;
    text-align: center;
}

.trial-btn{
    background-color: #0061ff;
    color: white;
    padding: 5px 50px;
    text-decoration: none;
}

/* Q&A SECTION */

.qea-spacings{
    padding: 30px 0;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.qea-title-spacings{
    margin-bottom: 40px;
}

/* FOOTER */

footer{
    background-color: black;
    color: white;
    margin-top: 160px;
    padding-top: 80px;
}

.footer-container{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-col{
    width: 15%;
}

.footer-subtitle{
    font-size: 25px;
    margin-bottom: 20px;
}

.menu-spacings{
    padding-bottom: 10px;
}

.menu-spacings li a{
    color: white;

    text-decoration: none;
}

.menu-spacings li{
    padding-top: 5px;
    padding-bottom: 5px;
}

/* LANGUAGE */

.language-container{
    width: 75%;
    margin: 0 auto;
    padding-top: 20px;
}

.language-container hr{
    width: 10%;
}
.language-spacings{
    padding-top: 20px;
    padding-bottom: 20px;
}

.grey{
    color: grey;
}